<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <import resource="doctrine.xml"/>
  <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper">
    <property name="locations">
      <array>
        <entry><value>resource://file://${config.dir}/application.properties</value></entry>
      </array>
    </property>
  </bean>
</beans>

